// ** ANIMATIONS
// *
// *
// *

// Fade-in
@mixin kf-fadeIn($fadeIn) {
  @keyframes #{$fadeIn} {
    100% {
      opacity: 1;
    }
  }
}

// Fade-out
@mixin kf-fadeOut($fadeOut) {
  @keyframes #{$fadeOut} {
    100% {
      opacity: 0;
    }
  }
}

// Twirl
@mixin kf-twirl($twirl) {
  @keyframes #{$twirl} {
    100% {
      transform: rotate(180deg);
    }
  }
}

// Shimmy Blue
@mixin kf-shimmyBl($shimmyBl, $opacity1, $opacity2) {
  @keyframes #{$shimmyBl} {
    50% {
      right: -10%;
    }
    75% {
      right: -10%;
    }
    88% {
      opacity: $opacity1;
    }
    100% {
      right: 27%;
      top: 26%;
      z-index: 1;
      opacity: $opacity2;
    }
  }
}

// Shimmy White
@mixin kf-shimmyWh($shimmyWh, $opacity1, $opacity2) {
  @keyframes #{$shimmyWh} {
    50% {
      right: 63%;
    }
    75% {
      right: 63%;
    }
    88% {
      opacity: $opacity1;
    }
    100% {
      right: 27%;
      top: 26%;
      z-index: 3;
      opacity: $opacity2;
    }
  }
}

// Mobile Button Opening
@mixin kf-symbolOpen($symbolOpen) {
  @keyframes #{$symbolOpen} {
    100% {
      transform: rotate(90deg);
      width: 70%;
      min-height: 0.15rem;
    }
  }
}

// Eyelid blink
@mixin kf-blink($blink) {
  @keyframes #{$blink} {
    20%,
    100% {
      height: 25%;
    }
    0% {
      height: 25%;
    }
    10% {
      height: 100%;
    }
  }
}

// @keyframes movePupil {
//   0% {
//     transform: translateX(0px) translateY(0px);
//   }
//   20% {
//     transform: translateX(-12px);
//   }
//   40% {
//     transform: translateY(-12px);
//   }
//   60% {
//     transform: translateX(12px);
//   }
//   80% {
//     transform: translateY(12px);
//   }
//   100% {
//     transform: translateX(0px) translateY(0px);
//   }
// }
